.dashicons-admin-Need,
.dashicons-admin-Accudio{
	width:36px!important;
}

.dashicons-admin-Need:before{
	content:"\f466";
}

.dashicons-admin-Accudio:before{
	content:"\f504";
}

#sidebar_adminmenu_logo {
	opacity: .8;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

#sidebar_adminmenu_logo:hover, #sidebar_adminmenu_logo:focus {
	opacity: 1;
}